/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF_L 0
#define NAV_L 1
#define NUM_L 2
#define SYM_L 3

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick-tap-ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        wkspc: wkspc {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>; // Must be 1
            bindings
                = < &macro_press &kp LG(LA(LSHFT)) >
                , < &macro_tap &macro_param_1to1 >
                , < &macro_release &kp LG(LA(LSHFT)) >
                ;
        };
    }

    combos {
        compatible = "zmk,combos";
        combo_z {
            timeout-ms = <50>;
            key-positions = <0 10>;
            bindings = <&kp Z>;
        };

        combo_b {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp B>;
        };

        combo_k {
            timeout-ms = <50>;
            key-positions = <9 19>;
            bindings = <&kp SLASH>;
        };

        combo_dot {
            timeout-ms = <50>;
            key-positions = <23 24>;
            bindings = <&kp N>;
        };

        combo_colon {
            timeout-ms = <50>;
            key-positions = <24 25>;
            bindings = <&kp LS(N)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q       &kp W      &kp E      &kp R          &kp T            &kp Y         &kp U       &kp I      &kp O      &kp P
                &hm LSHFT A &hm LGUI S &hm LALT D &hm LCTRL F    &kp G            &kp H         &hm RCTRL J &hm RALT K &hm LGUI L &hm RSHFT SEMICOLON
                            &kp X      &kp C      &kp V                                         &kp M       &kp COMMA  &kp DOT
                                                  &hm LSHFT BSPC &lt NAV_L SPACE  &lt SYM_L ESC &lt NUM_L LS(RET)
            >;
        };

        nav_layer {
            display-name = "Nav";
            bindings = <
                &kp TAB     &kp HOME   &kp END    &kp LS(TAB)    &wkspc 5         &trans        &trans         &kp SCRL_DOWN &trans        &kp DEL
                &wkspc 1    &wkspc 2   &wkspc 3   &wkspc 4       &wkspc 6         &trans        &hm RCTRL DOWN &hm RALT UP   &hm RGUI RGHT &hm RSHFT SCRL_UP
                            &kp CUT    &kp COPY   &kp PASTE                                     &kp LEFT       &trans        &trans
                                                  &trans         &trans           &kp RET       &kp LS(RET)
            >;
        };

        nav_layer {
            display-name = "Sym";
            bindings = <
                &kp EXCL       &kp AT        &kp HASH      &kp DOLLAR     &kp PERCENT      &kp CARET     &kp AMPS       &kp STAR       &kp PIPE       &kp DOUBLE_QUOTES
                &hm LSHFT LBRC &hm LGUI LPAR &hm LALT RPAR &hm LCTRL RBRC &kp EQUAL        &kp BACKSLASH &hm LCTRL PLUS &hm LALT MINUS &hm LGUI SLASH &hm LSHFT SINGLE_QUOTE
                               &kp LBKT      &kp RBKT      &kp GRAVE                                     &kp TILDE      &kp LT         &kp GT
                                                           &kp LSHFT      &trans           &trans        &trans
            >;
        };

        nav_layer {
            display-name = "Num";
            bindings = <
                &kp EXCL     &kp AT      &kp HASH    &kp DOLLAR   &kp PERCENT     &kp CARET     &kp AMPS     &kp STAR    &kp LPAR    &kp RPAR
                &hm LSHFT N1 &hm LGUI N2 &hm LALT N3 &hm LCTRL N4 &kp N5          &kp N6        &hm LCTRL N7 &hm LALT N8 &hm LGUI N9 &hm LSHFT N0
                             &kp RA(N1)  &kp RA(N2)  &kp RA(N3)                                 &trans       &trans      &trans
                                                     &kp LSHFT    &trans          &trans        &trans
            >;
        };
    };
};
